.side-ber
  .side-ber_user-name
    .side-header_box
      .side-header_box-username
        = current_user.name
      .side-header_box-menu
        = link_to "#", class: "contents__btn contents__btn1" do
          <i class="far fa-edit"></i>
        = link_to edit_user_path(current_user), class: "contents__btn contents__btn2" do
          <i class="fas fa-cog"></i>
  .side-ber_group-list
    .side-ber_group-box
      .side-ber_group-name
        techcanp
      .side-ber_group-text
        まだメッセージがありません


